@font-face {
    font-family: Beaufort;
    src: url("./fonts/beaufortforlol-regular.otf"); 
    font-weight: normal;
}
@font-face {
    font-family: Beaufort;
    src: url("./fonts/beaufortforlol-bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: Beaufort;
    src: url("./fonts/beaufortforlol-italic.otf");
    font-style: italic;
}
@font-face {
    font-family: Beaufort;
    src: url("./fonts/beaufortforlol-bolditalic.otf");
    font-style: italic;
    font-weight: bold;
}

#app {
    background-color: #00366C;
}

nav {
    background-color: #7382AE;
}

p {
  margin: 0;
}

.lol-font {
    font-family: Beaufort;
    font-weight: bold;
    font-size: large;
    background: -webkit-linear-gradient(#8f633b 35%, #d8d069 50%, #8f633b 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.champion {
  width: 20%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.banned-champion {
    width: 33.3333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.my-carousel > .match {
  display: none;
}

.my-carousel > .active-slide {
  display: block;
}
