@font-face {
    font-family: Beaufort;
    src: url("./fonts/beaufortforlol-regular.otf");
    font-weight: normal;
}
@font-face {
    font-family: Beaufort;
    src: url("./fonts/beaufortforlol-bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: Beaufort;
    src: url("./fonts/beaufortforlol-italic.otf");
    font-style: italic;
}
@font-face {
    font-family: Beaufort;
    src: url("./fonts/beaufortforlol-bolditalic.otf");
    font-style: italic;
    font-weight: bold;
}

body {
  background-color: #00366C;
}

nav {
    background-color: #7382AE;
}

p {
  margin: 0;
}

select {
    display: block;
    background-color: #00366c;
}

.container {
  background-color: white;
}

.name {
  position: absolute;
  bottom: 1%;
  margin: 0;
  background-color: white;
}

.tier {
  position: absolute;
  bottom: 15%;
  left: 2%;
}

.lol-font {
    font-family: Beaufort;
    font-weight: bold;
    font-size: 16px;
    background: -webkit-repeating-linear-gradient(#8f633b 9px, #d8d069 10px, #8f633b 20px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.champion {
  position: relative;
  float: left;
  width: 20%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.summoner-name {
    background: rgba(28, 28, 28, 0.84);
    box-shadow: 0 0 1px .66px #8f633b;
    position: absolute;
    bottom: 1em;
    width: 100%;
}

.banned-champion {
    float: left;
    width: 33.3333%;
    margin-left: auto;
    left: auto;
    right: auto;
}
