p{
  margin: 0;
}
.champion {
  width: 20%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.my-carousel > .match {
  display: none;
}

.my-carousel > .active-slide {
  display: block;
}
